.base{
  width: 100%;
  height: 300px;
  background-color: #ededed  ;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
}

.list{
  display:flex;
  flex-direction: column;
  margin-top: 40px;
}

.icon_image{
  width: 100px;
  height: 100px;
}

.count{
  font-size: 45px;
  font-weight: bold;
  color:#676767;
}

.description{
  font-size: 18px;
  font-weight: bold;
  color:#676767;
  text-align: justify;
}