.base {
  padding: 10px;
  border: 1px solid #dedede;
  border-radius: 5px;
  text-align: left;
  margin-right: 12px;
}

.dept {
  font-size: 12px;
  color: #5d5d5d;
  margin-left: 10px;
  font-weight: 500;
}

.course_dept {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
.title {
  font-weight: 700;
  /* background-color: #7fff00; */
  font-size: 18px;
  color: #636363;
  border-radius: 10px;
}

.course_stats {
  display: flex;
  justify-content: space-between;
  color: #bebebe;
  font-weight: 500;
  font-size: 13px;
  padding-bottom: 8px;
  margin-top: 5px;
}

.play {
  padding-right: 5px;
}

.watch {
  padding: 0px 5px 0px 10px;
}

.cover_pic {
  min-height: 170px;
  background-color: #dddddd;
}

.author {
  color: #767676;
  font-weight: 500;
  font-size: 16px;
}

.exp {
  color: #767676;
  font-size: 12px;
}

.profile_pic {
  display: flex;
  width: 50px;
  height: 50px;
  z-index: 2;
  border-radius: 50%;
  margin-top: -25px;
  margin-left: 20px;
}
