.base {
  display: flex;
  width: 320px;
  height: 42px;
  padding: 0px 10px;
  background-color: #ededed;
  border-radius: 10px;
}

.search {
  background-color: #ededed;
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  border-radius: 10px;
  color: #646464;
}

.search:focus {
  outline: none;
}