.base {
  background-color: inherit;
  border: none;
  height: 100%;
  width: 100%;
  color: inherit;
}

.base:focus {
  outline: none;
}

.search {
  display: flex;
  width: 320px;
  height: 42px;
  padding: 0px 10px;
  background-color: #ededed;
  border-radius: 10px;
}
.courses {
  composes: search;
  background-color: #ffffff;
  padding-left:20px;
  width: 620px;
  height: 45px;
}
