.menu_button {
  padding: 10px 25px;
  border-radius: 10px;
  color: #000000;
  cursor: pointer;
}

.active_menu_button {
  composes: menu_button;
  background-color: #ef2731;
  color: #ffffff;
}

.identity {
}

.all_courses {
  composes: active_menu_button;
  font-size: 21px;
  font-weight: 600;
  padding: 12px 20px;
}

.find_courses {
  composes: active_menu_button;
  font-size: 16px;
}
