.base {
  height: 330px;
  /* border-radius: 0px; */
  width: 100%;
  background: rgba(85, 85, 85, 255);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.line {
  height: 3px;
  width: 100%;
  background-color: red;
}
.about {
  color: white;
  display: flex;
  padding: 25px 45px 20px;
  flex-direction: column;
  text-align: left;
}

.about_details {
  flex-direction: row;
  padding-top: 20px;
  color: #a3a3a3;
  display: flex;
  text-align: left;
}

.icon_location {
  width: 15px;
  height: 20px;
  display: flex;
}

.links_details {
  flex-direction: column;
  padding-top: 20px;
  color: #a3a3a3;
  display: flex;
  text-align: left;
  align-items: left;
}

.icon_arrow_forward {
  width: 10px;
  height: 15px;
  display: flex;
  color: #a3a3a3;
}

.link_item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.tags {
}

.tags_list {
  max-width: 300px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tags_details {
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 25px;
  color: white;
  background-color: #888888;
}

.social {
  padding-top: 20px;
}
.icon_social {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.footer_end {
  background-color: #303030;
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left_text {
  padding-left: 75px;
  padding-top: 5px;
  color: #a3a3a3;
}

.right_text {
  padding-right: 75px;
  padding-top: 5px;
  color: #a3a3a3;
}
